/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2019, 10:16:58 AM
    Author     : Andreas Vikke
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body {
    font-family: 'Roboto', sans-serif;
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

.loginBox {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    margin-top: 1rem;
}

.form-control
{
    text-align: center;
    background-color: #f5f5f5;
}

#ccimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.RegisterBox
{
    width: 20%;
    margin: 0 auto;
    text-align: center;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    margin-top: 1rem;
}

.navbar-brand
{
    background-image: url("../Images/CupCake_Logo.png");
    background-size: cover;
    width: 100px;
    height: 50px;
}

.adminBox:first-of-type {
    width: 33.333%;
}
.adminBox {
    width: 66.666%;
    float: left;
    padding: 1rem;
}
.adminBoxContent {
    background: #f5f5f5;
    border-radius: 10px;
    padding: .8rem;
}

.tableButton {
    text-align: right;
}


